<div class="col-10 offset-1">
  <h1>About Splurty</h1>
  <p>
    This Splurty page was built by <a target="_blank" href=file:///Users/kylieslattery/Desktop/portfolio/index.html>Kylie</a> 
  </p>
  <p>
    During her time in the U of A bootcamp, she learned how to create apps just like this one!
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'IMG_1855.jpeg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Kylie Slattery</h2>
      <br />
      <p>
       Kylie is an aspiring software developer. She is currently attending the U of A bootcamp for full stack coding. Previous to that, she worked in the real estate business for 11 years, during which time she aquired skills using varous software programs. She is now looking forward to a career that merges her knowledge of real estate and her afinity for the Saleforce platform.
      </p>
    </div>
  </div>
  <br class="clear" />
  
  
</div>
<br />
<br />
<br />
<br />